<template>
    <div style="height: 500px;">
        <lightning-datatable key-field="id" data={result} columns={columns} onrowaction={handleRowAction}>
        </lightning-datatable>
    </div>
</template>